@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  background-color: white;
  color: black;
  overflow-x: hidden;
}